.carosal-container img{
    width: 80%;
    height: 50vh;
    object-fit: cover;
    border-radius:20px ;
    overflow: hidden;
    
   
}
.carosal-container{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-around;
}
