.add-product * {
  display: block;
  margin: auto;
  margin-top: 3px;
  padding: 2px;
}
.add-product {
  background-color: white;
  width: fit-content;
  padding: 25px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 20px rgb(248, 116, 138);
  margin-top: 12px;
  margin-bottom: 12px;
}
.add-product button {
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  height: 30px;
  padding: 5px;
}
.add-product h3 {
  width: fit-content;
}
.add-product label {
  font-size: small;
}
