.App {
  margin-top: 65px;
}
.header {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(43, 46, 74);
  /* box-shadow: 0 0 50px rgba(255, 255, 255, 0.294); */
  height: 60px;
  align-items: center;
  z-index: 3;
  border-bottom:1px solid white ;
}
.header nav {
  height: 100%;
}
.header ul {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-inline-start: 0px;
  align-items: center;
  list-style: none;
}
.header li.app-title{
  flex-grow: 1;
  margin: auto;

  user-select: none;
}
.header li:not(.app-title) {
  width: 90px;
  height: max-content;
  margin: auto;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.header li:not(.app-title):hover ,.category li:hover {
  background-color:#2b2e4a;
  background-image: linear-gradient(0deg, rgb(138, 146, 234) 10%, rgba(0, 0, 0, 0));
}
.drop-content {
  display: none;
  position: absolute;
  background-color: rgb(43, 46, 74);
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.category{
  height: 100%;
}

.category:hover .drop-content {
  display: block;
}
.app-title div.banner img{
  width: 50px;
height: 50px;
}
.app-title div.banner{
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app-title div.banner:hover{
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.header-title{
  display: flex;
  flex-flow: column;
}
.header-title span:first-child{
  font-size: larger;
  font-weight: bold;
  font-family: sans-serif;
}
.header-title span:nth-child(2){
  font-size: x-small;
  font-family: sans-serif;
  font-style: italic;
  
}
.header div.icon{
  display: none;
  width: 40px;
  justify-content: center;
}
.header div.icon i{
  display: block;
 margin: auto;
 width: fit-content;
}

.loading{
  background-color: rgba(0, 0, 0, 0.84);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.loading div{
 position: fixed;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%) rotate(90deg);


}
.loading div img{
  animation: loading 1s infinite  ease-in-out;;
}
@keyframes loading {
  0%{
    rotate: 0deg;
  }
  100%{
    rotate: 360deg;
  }
}
@media only screen and (max-width:780px){
  .header{
    height: fit-content;
  }
  .header ul {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-inline-start: 0px;
    align-items: center;
    list-style: none;
    background-color: rgb(43, 46, 74);
  }
  .header li{
    width: 100%;
    background-color: rgb(43, 46, 74);
  }
  .category{
    text-align: center;
    padding: 0;
  }
  .category li{
    padding: 20px;
  }
  .header li:not(.app-title) {
    width: 100%;
    height: max-content;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .header li.app-title:first-child {
    flex-grow: 1;    
  }
  .header li{
    border-bottom: 1px solid ;
  }
  .header div.category{
    width: 100%;
    height: max-content;
    margin: auto;
    text-align: center;
  }
  .header div.icon{
    display: block;
    position: absolute;
    right: 15px;
    top: 18px;
    transform: scale(1.5);
  }
  .header div.icon svg{
   display: block;
   margin: auto;
  }

  .show-content li:not(.app-title){
    display: block;
  }
  .hide-content li:not(.app-title){
    display: none;
  }

}
