.App {
  margin-top: 85px;
}
.header {
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* background-color:  rgb(25, 14, 95);  */
  background-color: #554994;
  box-shadow: 0 0 50px rgba(255, 0, 247, 0.409);
  height: 60px;
  align-items: center;
  z-index: 3;
  /* border-bottom:1px solid white ; */
}
.header nav {
  height: 100%;
}
.header .head-ul {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-inline-start: 0px;
  align-items: center;
  list-style: none;
}
.header .head-ul li.app-title {
  flex-grow: 1;
  margin: auto;

  user-select: none;
}
.header .head-ul li:not(.app-title):not(.search li) {
  width: max-content;
  height: max-content;
  min-width: 90px;
  margin: auto;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.header .head-ul li:not(.app-title):not(.search li):hover,
.category li:hover {
  background-color: #554994;
  background-image: linear-gradient(
    0deg,
    rgb(138, 146, 234) 10%,
    rgba(0, 0, 0, 0)
  );
}
.drop-content {
  display: none;
  position: absolute;
  background-color: #8e7fcf;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.category {
  height: 100%;
  width: max-content;
}

.category:hover .drop-content {
  display: block;
}
.app-title div.banner img {
  width: 50px;
  height: 50px;
}
.app-title div.banner {
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.app-title div.banner:hover {
  padding-right: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.header-title {
  display: flex;
  flex-flow: column;
}
.header-title span:first-child {
  font-size: larger;
  font-weight: bold;
  font-family: sans-serif;
}
.header-title span:nth-child(2) {
  font-size: x-small;
  font-family: sans-serif;
  font-style: italic;
}
.header div.icon {
  display: none;
  width: 40px;
  justify-content: center;
}
.header div.icon i {
  display: block;
  margin: auto;
  width: fit-content;
}

.loading {
  background-color: rgba(0, 0, 0, 0.84);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.loading div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.loading div img {
  animation: loading 1s infinite ease-in-out;
}

.profile span {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px white solid;
  font-size: x-large;
  font-weight: 300;
  justify-content: center;
  align-items: center;
}
@keyframes loading {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.notification {
  position: fixed;
  transform: translateY(5%);
  right: 2%;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  background-color: #08002e;
  width: fit-content;
  display: flex;
  min-width: 100px;
  max-width: 200px;
  flex-direction: column;
  border-radius: 10px;
  z-index: 4;
}
.notification span {
  padding: 7px;
  flex-grow: 1;
}
.notification hr {
  bottom: 0%;
  display: flex;
  margin: 0%;
  background-color: rgb(93, 215, 89);
  animation: notify 5s 1 forwards ease-out;
  height: 3px;
  align-content: flex-start;
  align-self: flex-start;
  border: none;
  box-shadow: 0 0 2px black;
  border-radius: 2px;
}
@keyframes notify {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.footer {
  color: white;
  background-color: rgb(18, 19, 33);
  position: relative;
  width: 100%;
  bottom: 100%;
  height: 100px;
}
.footer span {
  display: block;
  text-align: center;
  padding-top: 20px;
  font-size: smaller;
}
.cart-number{
  background-color: rgb(0, 18, 68);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: relative;
  left: 1px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-number span{
  font-size: x-small;
}

@media only screen and (max-width: 780px) {
  .header {
    height: fit-content;
  }
  .header .head-ul {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-inline-start: 0px;
    align-items: center;
    list-style: none;
  }
  .header .head-ul li:not(.search li) {
    width: 100%;
  }
  .category {
    text-align: center;
    padding: 0;
  }
  .category li {
    padding: 20px;
  }
  .drop-content {
    position: relative;
  }
  .header .head-ul li:not(.app-title):not(.search li) {
    width: 100%;
    height: max-content;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  .header .head-ul li.app-title:first-child {
    flex-grow: 1;
  }
  .header .head-ul li:not(.search li) {
    border-bottom: 1px solid;
  }
  .header div.category {
    width: 100%;
    height: max-content;
    margin: auto;
    text-align: center;
  }
  .header div.icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 18px;
    transform: scale(1.5);
  }
  .header div.icon svg {
    display: block;
    margin: auto;
  }

  .show-content .head-ul li:not(.app-title):not(.search li) {
    display: block;
  }
  .hide-content .head-ul li:not(.app-title:not(.search li)) {
    display: none;
  }
}

