.carosal-container img {
  /* height: 60vh; */
  object-fit: fill;
  border-radius: 20px;
}
.carosal-container {
  width: 98%;
  margin: auto;
}
.home-category {
  margin-top: 10px;
  /* background-color:#101549; */
  /* background-color: #F29393; */
  background-color: #A267AC;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0;
  user-select: none;
}
.home-category div {
  border: 1px solid white;
  display: flex;
  flex-flow: column;
  width: -WEBKIT-FILL-AVAILABLE;
  width: -moz-available;
  margin: 0;
  height: 150px;
  align-items: center;
  transition: background-color 0.25s ease-in;
}
.home-category img {
  height: 100px;
  width: 100px;
}
.home-category div span {
  display: block;
  margin: auto;
  width: fit-content;
}
.home-category div:hover {
  background-color: rgb(86, 92, 146);
}
