.cart-block {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(224, 112, 149, 0.606);
  transition: scale .25s ease-in;
}
.cart-block:hover{
  scale: 1.01;
}
.cart-block img {
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 2px;
}
.cart-block span {
  padding-left: 20px;
  padding-right: 20px;
}
.cart-block .title {
  text-align: justify;
}
.cart-info {
  display: flex;
}
.cart-control {
  display: flex;
  justify-content: space-around;
}
.cart-control button {
  width: max-content;
  border-radius: 5px;
  height: 30px;
  color: rgb(255, 67, 67);
  background-color: rgba(0, 0, 0, 0);
  border: 2px rgba(49, 15, 129, 0.334) solid;
  transition: background-color 0.25s ease-out;
}

.cart-control button:hover {
  background-color: rgb(117, 72, 199);
}
.cart-control button:active {
  background-color: rgba(255, 255, 255, 0.658);
}

.wish-list {
  color: rgb(61 50 178);
}
.wish-list h1 {
  margin: 0%;
  padding-top: 5px;
  text-shadow: 0 1px 5px rgba(20, 39, 93, 0.257);
}

.subtotal {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.subtotal .info span {
  display: block;
}
.subtotal .info button {
  margin-top: 5px;
  background-color: rgb(255, 255, 138);
  height: 40px;
  border-radius: 20px;
  width: 100%;
  border: none;
}
.subtotal .info button:hover {
  background-color: rgb(205, 205, 0);
}
.subtotal .info button:active {
  background-color: rgb(255, 255, 0);
}
@media only screen and (max-width: 780px) {
  .cart-block {
    display: block;
  }
  .cart-control {
    margin: 10px;
  }
}
