.detailed-product {
  height: 100%;
  display: flex;
}
.thumbs div {
  margin: 5px;
  background-color: white;
  border-radius: 2px;
}
.thumbs img {
  width: 50px;
  height: 60px;
  object-fit: contain;
}
.thumb-images {
  margin: 0.5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: fit-content;
}
.product-image img {
  width: 100%;
  object-fit: contain;
}
.product-image {
  display: block;
  width: 20%;
  height: fit-content;
  min-width: 200px;
  margin: 10px;
  border-radius: 2px;
  background-color: white;
}
.product-details {
  color: white;
}
.product-controls {
  display: flex;
  flex-flow: column;
  width: 300px;
  height: 80%;
  margin: 3px;
  border: 3px rgba(255, 255, 255, 0.318) solid;
  align-items: center;
  align-self: center;
  border-radius: 5px;
}

.product-controls .controls {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
}
.product-controls .controls button {
  color: white;
  width: 80%;
  font-size: medium;
  height: 40px;
  border-radius: 20px;
  margin: 5px;
  background: rgba(255, 255, 255, 0);
  border: 2px rgba(255, 255, 255, 0.552) solid;
}
.product-controls .controls button:hover {
  background: rgb(60, 192, 62);
  background-image: linear-gradient(180deg, #ff000000 50%, #0000005c 100%);
}
.product-controls .controls button:active {
  background: rgb(97, 185, 99);
  background-image: linear-gradient(180deg, #ff000000 50%, #0000005c 100%);
}

.quantity {
  color: white;
  padding: auto;
}
.quantity .quantity-text {
  display: block;
  font-size: large;

  margin: 10px;
}
.quantity div {
  display: flex;
  justify-content: space-around;
}
.quantity div span {
  flex-grow: 1;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
.quantity h3 {
  text-align: center;
  font-size: x-large;
  color: rgb(241, 141, 40);
  margin: 10px;
}
