.notfound {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.notfound img {
  height: max-content;
}
.notfound img,
.notfound-box {
  padding: 40px;
}
.notfound-box {
  display: flex;
  align-self: center;
}
.notfound-box div {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.notfound h1 {
  font-size: 3em;
}
.notfound span {
  font-size: 1.5em;
  color: gray;
}

@media only screen and (max-width: 780px) {
  .notfound img {
    height: 20vh;
  }
  .notfound img,
  .notfound-box {
    padding: 20px;
  }

  .notfound-box div {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .notfound h1 {
    font-size: 1.5em;
  }
  .notfound span {
    font-size: 1em;
    color: gray;
  }
}
