.each-product {
  display: block;
  margin: 15px;
  padding: 15px;
  border: 1px solid gainsboro;
  background-color: #ffffff;
  border-radius: 15px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.318);
  transition: background-color 0.25s ease-out ,transform 0.25s ease-out;
}
.each-product img {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}
.each-product .p-title {
  display: block;
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}
.each-product .p-price {
  display: block;
  font-size: large;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
  /* color: brown; */
  color: rgb(255, 55, 55);
  text-overflow: ellipsis;
}
.each-product:hover {
  /* background-color: rgb(224, 219, 255); */
  transform: scale(1.1);
}

.home-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: space-around;
}
.home-container::-webkit-scrollbar {
  display: none;
}
.home-lable {
  font-size: x-large;
  font-weight: bold ;
  margin: 10px;
}

